/* *, *::after{
    box-sizing: border-box;
} */

.todoContainer {
  background-color: rgba(230, 237, 237);
  margin: auto;
  /* align-items: right; */
  display: flex;
  flex-direction: column;
  /* top:10px; */
  justify-items: center;
  width: 500px;
  /* height: 200px; */
}
.todoContainer input,
select {
  display: block;
  margin-right: 20px;
  margin-left: 20px;
  /* margin-right: 20px; */
  margin-top: 20px;
  width: 90%;
  padding: 10px 15px;
  border: 1px solid #ccc;
  font-size: 14px;
  box-sizing: border-box;
}
.cancelButton {
  color: white;
  background-color: rgba(0, 0, 0, 0.587);
  padding: 5px 15px;
  border-width: 0px;
  text-align: center;
  margin-right: 10px;
  margin-left: 305px;
}
.addButton {
  color: white;
  background-color: rgba(16, 42, 235, 0.553);
  /* border-style: none; */
  border-width: 0px;
  padding: 5px 15px;
  text-align: center;
  margin-right: 1px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.updateButton{
  color: white;
  background-color: rgba(16, 235, 107, 0.553);
  /* border-style: none; */
  border-width: 0px;
  padding: 5px 15px;
  text-align: center;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}
/* .App .addButton {
 
} */

.todoList {
  width: 500px;
  height: auto;
  margin: auto;
  align-items: left;
}
.todoList :hover{
  cursor: pointer;
}
.lists li {
  list-style: none;
  background: rgb(218, 214, 214);
  margin-bottom: 10px;
  border-style: solid;
  border-width: 0px 0px 0px 10px;
}
.statusbar {
  margin-left: 40px;
  text-align: right;
}
.statusbar li {
  list-style: none;
  display: inline-block;
  /* background:rgb(218, 214, 214); */
  margin-top: 25px;
  text-align: left;
  border-style: solid;
  border-width: 0px 0px 0px 10px;
  margin-left: 30px;
  padding: 10px, 15px;

  font-size: 16px;
}
.title {
  display: block;
  /* align-self: center; */
  text-align: left;
  margin-left: 4px;
  font-weight: bold;
  font-size: 16px;
}
.deadLine {
  display: block;
  text-align: left;
  margin-left: 4px;
  font-style: italic;
  font-size: 16px;
}
.errorMsg{
  color:red;
  text-align: right;
  margin-top: 5px;
  margin-right: 20px;
}